
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<div>
    <ul>
        <li>
            @Html.ActionLink("Mange Roles", "Roles", "Manage")
        </li>
        <li>
            @Html.ActionLink("Mange Users", "Users", "Manage")
        </li>
    </ul>
</div>

