@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Unauthorized.</h2>
<h2 class="text-danger">You do not have sufficient privileges for this operation.</h2>