@model JehovaJireh.Web.UI.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security
@using JehovaJireh.Web.UI.App_GlobalResources

<h4>@Resources.UserNoRegisterYet</h4>
<hr />
@{
    <div>
		<p>
			@Html.ActionLink(Resources.Register, "Register")
		</p>
	</div>
    <div>
        <h2>Social Logins</h2>
        <a class="btn btn-block btn-social btn-google" id="btnGoogleLogin" href="#"><i class="fa fa-google"></i>Sign in with Google</a>
    </div>
}
@section Scripts{
    <script type="text/javascript">
     //Here not work, please move to login view.
    </script>
 }
